name: Coveralls (Server)

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
      - name: Use Node.js 23.x
        uses: actions/setup-node@v4
        with:
          node-version: 23.x
      - name: Installing dependencies
        run: npm ci
        working-directory: server
      - name: Generating coverage information
        run: npm run coverage
        working-directory: server
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./server/coverage/lcov.info
          base-path: ./server
          flag-name: server
